Django==2.2.4
django-appconf==1.0.3
django-compressor==2.0
django-fontawesome==1.0
django-fontawesome-5==1.0.16
django-libsass==0.7
django-password-reset==2.0
django-progressive-web-app==0.1.1
django-sass-processor==0.7.4
django-static-jquery==2.1.4
gunicorn==19.9.0
libsass==0.19.4
psycopg2==2.8.3
pytz==2019.1
PyYAML==5.1.2
rcssmin==1.0.6
rjsmin==1.0.12
six==1.13.0
sqlparse==0.3.0
