<!doctype html>
{% load staticfiles %}
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Plataforma de veiculação de notícias do Campus Online" />
        <title>Campus Online APP</title>
        <link rel="stylesheet" href="{% static 'campus_app/css/styles.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="theme-color" content="#536878">
    </head>
    <body>
        <div class="app">
            <header>
                <sidenav id="mySidenav" class="sidenav">
                   <!-- <p align="right"><span style="font-size:30px;cursor:pointer" onclick="closeNav()"><i class="material-icons">cancel</i></span></p>-->
                    <a href="" class="closebtn" onClick={closeNav()}><i class='material-icons'>cancel</i></a>
                    <p>Plataformas do<br />Campus Online<br />
                      <a href="http://campus.fac.unb.br/" onClick={this.closeNav}>Site</a>
                      <a href="https://twitter.com/campusitounb" className="twitter" onClick={this.closeNav}>Twitter</a>
                      <a href="https://www.facebook.com/onlinecampus/" className="facebook" onClick={this.closeNav}>Facebook</a>
                      <a href="https://www.instagram.com/campusonline/" className="instagram" onClick={this.closeNav}>Instagram</a>
                      <a href="https://www.youtube.com/channel/UC6a5zNtTLs-yGnHn9nkUIyw" onClick={this.closeNav}>Youtube</a>
                    </p>
                    <p>Links da FAC<br />
                      <a href="http://fac.unb.br/" onClick={this.closeNav}>Site</a>
                      <a href="https://twitter.com/fac_unb" onClick={this.closeNav}>Twitter</a>
                      <a href="https://www.facebook.com/faculdadedecomunicacao/" onClick={this.closeNav}>Facebook</a>
                      <a href="https://www.youtube.com/channel/UChJBFMMGoVw2yXeFIllVnZw" onClick={this.closeNav}>Youtube</a>
                      <a href="https://issuu.com/campusunb" onClick={this.closeNav}>Issu</a>
                    </p>
                    {% if user.is_authenticated %}
                    <p><a href="{% url 'dashboard' %}">Painel de Controle</p>
                    <p><a href="{% url 'logout' %}">Sair</a></p>
                    {% else %}
                    <p> <a href="{% url 'login' %}">Entrar</a></p>
                    {% endif %}
                   
                </sidenav>
                <p align="center"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span></p>
                <script>
                    function openNav() {
                      document.getElementById("mySidenav").style.display = "block";
                    }
                    function closeNav() {
                      document.getElementById("mySidenav").style.display = "none";
                    }
                </script>
            </header>
            <div class="app-header">
              <img src="{% static 'campus_app/imagens/Logo-Campus1.png' %}" class="app-logo" alt="logo">
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <footer>
               <h4>2019 FAC/CIC</h4>
            </footer>
        </div>
    </body>
</html>