* {
  box-sizing: border-box; }

.app-content {
  text-align: left;
  padding-bottom: 0.3em;
  margin: 0;
  border-bottom: 2px solid #eee;
  display: block; }

.app {
  text-align: center;
  --color-1: #6c0318;
  --color-2: #b5202e;
  --color-3: #ff9000;
  --color-4: #f9c19a; }

.app-header {
  width: 100%;
  background-color: #6c0318;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.25rem 0.75rem; }
  .app-header #opensidenav {
    font-size: 1.5rem;
    color: white; }
  .app-header a {
    width: 100%;
    -webkit-tap-highlight-color: transparent; }
  .app-header .app-logo {
    width: 16rem;
    height: 5rem;
    object-fit: cover;
    align-self: center;
    position: relative;
    bottom: 0.75rem; }

.app-title {
  padding-top: 10px;
  font-weight: bold; }

#calendar-region {
  display: flex;
  justify-content: center; }

.addShadow {
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.4); }

#mySidenav {
  height: 100%;
  width: 70vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6c0318;
  transition: 0.4s ease-in-out;
  transform: translateX(-75vw);
  padding: 0.45rem 0.5rem;
  text-align: left; }
  #mySidenav .closebtn {
    color: white; }
    #mySidenav .closebtn i {
      font-size: 2rem; }
  #mySidenav .content {
    padding: 0 1.75rem; }
    #mySidenav .content .login-link {
      margin: 1.5rem 0;
      text-align: left; }
    #mySidenav .content .user-link {
      color: #eed3c2;
      font-weight: 400;
      text-decoration: none;
      text-align: left; }
      #mySidenav .content .user-link i {
        vertical-align: bottom;
        font-size: 1.35rem !important;
        margin-right: 0.4rem; }
    #mySidenav .content p {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--color-4);
      display: block;
      font-family: "Lato", sans-serif;
      text-align: center; }
    #mySidenav .content ul {
      list-style: none;
      padding: 0 0.25rem; }
      #mySidenav .content ul a {
        font-size: 1.25rem;
        text-decoration: none;
        color: #fff1f4;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300; }
        #mySidenav .content ul a i {
          max-width: 0.8rem;
          margin-right: 0.8rem;
          color: #eed3c2; }

header {
  backface-visibility: hidden; }

.burger {
  font-size: 30px;
  cursor: pointer; }

.calendar-button {
  background-color: #942832;
  box-shadow: inset 0 2px 15px -10px #5c0314;
  padding: 0.35rem 0.75rem;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-family: 'Lato', sans-serif; }

.calendar-button:focus {
  outline: none;
  background-color: #791d26; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.content {
  padding-top: 2em; }

.l-box {
  padding: 1em; }

.header .pure-menu {
  padding: 0.5em; }

.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
  background: none;
  border: none;
  color: #aaa; }

body .primary-button {
  background: #02a6eb;
  color: #fff; }

.splash {
  margin: 0 auto;
  padding: 1.5em 1em 0;
  background: #eee; }

.splash .splash-head {
  font-size: 300%;
  margin: 0em 0;
  line-height: 1.2em; }

.splash .splash-subhead {
  color: #999;
  font-weight: 300;
  line-height: 1.4em; }

.splash .primary-button {
  font-size: 150%; }

.content .content-subhead {
  color: #999;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 2px solid #eee;
  display: inline-block; }

.content .content-ribbon {
  margin: 3em;
  border-bottom: 1px solid #eee; }

.ribbon {
  background: #eee;
  text-align: center;
  padding: 2em;
  color: #999; }

.ribbon h2 {
  display: inline;
  font-weight: normal; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6c0318;
  color: #fff;
  text-align: left; }
  .footer h4 {
    padding: 0 1.5rem;
    font-weight: 400;
    font-family: "Lato", sans-serif; }

/*################################### CSS NEWS ADD ###################################*/
.key-login, .news-add {
  margin: 10px; }

.preview {
  /* border: 2px solid #000; */
  margin: 15px -10px 0px -10px;
  background-color: #6c0318;
  padding: 15px 10px; }

.news-add h3, .key-login h3 {
  font-size: 20px;
  font-weight: bold;
  color: #b5202e;
  margin-bottom: 5px;
  text-align: justify;
  text-align-last: left; }

.upper {
  text-transform: uppercase; }

.news-add h1 {
  font-size: 25px;
  font-weight: bold;
  color: #b5202e;
  margin-bottom: 5px; }

button, .btn {
  display: inline-block;
  border: 3px solid #f9c19a;
  border-radius: 10px;
  margin-top: 15px;
  padding: 7px;
  font-weight: bold;
  color: #6c0318;
  background-color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  cursor: pointer;
  font-size: 80%; }

button:hover {
  background-color: #f9c19a; }

.btn:hover {
  background-color: #f9c19a; }

.btn-link {
  color: #6c0318; }

.btn-link:hover {
  color: #b5202e; }

#Adicionar:disabled {
  background-color: white;
  cursor: not-allowed;
  color: #6c0318; }

#Adicionar:hover {
  background-color: #f9c19a;
  cursor: not-allowed; }

/*################################### CSS NEWS ITEM ###################################*/
.endPage {
  height: 3rem; }

/* .newsItem:hover {
	background-color: #eee;
} */
.upper {
  text-transform: uppercase; }

.media {
  height: fit-content;
  background-color: #fff;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center; }

.headline {
  font-family: 'Lato', sans-serif;
  font-size: 1.35rem;
  font-weight: bold;
  color: #942832;
  margin-bottom: 0.25rem;
  text-transform: uppercase; }

.adtInfo {
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.timestamp {
  color: #5a5a5a;
  font-size: 0.8rem;
  word-spacing: 0.25rem; }

.author {
  color: #555555;
  font-size: 1rem; }

.resumo {
  text-align: justify;
  text-align-last: left;
  line-break: strict;
  text-indent: 1em; }

.texto {
  text-align: justify;
  text-align-last: left;
  line-break: strict;
  text-indent: 1em; }

.link {
  display: inline-block;
  background-color: #942832;
  box-shadow: inset 0 2px 15px -10px #5c0314;
  padding: 0.5rem 0.75rem;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  margin: 0.2rem 0; }

/*################################### CSS NEWS LIST ###################################*/
.newsList {
  font-family: 'Lato', sans-serif; }
  .newsList .dateDivider {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: #942832;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    box-shadow: inset 0 10px 20px -10px #5c0314;
    z-index: 1; }
  .newsList .newsContent {
    padding: 2rem 1.5rem; }
    .newsList .newsContent p {
      font-family: 'IBM Plex Sans', sans-serif; }
  .newsList span {
    margin: 70px 35px 0 35px;
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    background-color: #942832;
    padding: 10px;
    border-radius: 4px;
    color: white; }

/*################################### CSS MEDIA ###################################*/
.newsImg {
  width: auto;
  height: 180px;
  background-color: #FFFFFF; }

.newsVideo {
  width: 100%;
  height: 180px;
  border: 0 none; }

.newsAudio {
  width: 100%;
  height: 180px; }

/*################################### CSS TABLES ###################################*/
.table-responsive {
  width: 100% !important; }

.table {
  border: 1px solid red;
  width: 50% !important;
  /*Importante manter o !important rs */
  margin: auto; }

.table-status {
  margin-top: 20px;
  margin-bottom: 20px !important; }

/*# sourceMappingURL=styles.css.map */